.rs-card {
  background: #fff;
  border-radius: 25px;
  border: 1px solid #ccc;

  img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: block;
    object-fit: cover;
    width: 100%;
  }

  p {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 2vw;

    // @media only screen and (min-width: 768px) {
    //   font-size: clamp(14px, 1.5vw, 18px);
    //   line-height: clamp(16px, 2.2vw, 20px);
    // }
  }
}
