.rs-top-nav {
  ul {
    display: flex;
    justify-content: space-evenly;

    li {
      font-size: 14px;
      list-style-type: none;

      @media only screen and (min-width: 768px) {
        font-size: 2vw;
      }
    }
  }
}
